

<ion-content>
  <img class="vect" src="assets/images/Vector.png" />
  <img class="logo" src="assets/images/logo.png" />
<div class="kompro">
  <img src="assets/icon/Kompro.png" />
</div>
<div class="tap">
  Tap to Promise
</div>

<ion-item class="email">
  <ion-input name="email" type="email" placeholder="Email">
  </ion-input></ion-item>
<ion-item class="pass">
  <ion-input name="password" type="password" placeholder="Password"></ion-input>
</ion-item>

<ion-button class="butt" color="tertiary">Login</ion-button> 
<ion-button class="gog" color="tertiary"> 
  <img src="https://img.icons8.com/color/50/000000/google-logo.png"/>Sign in with with google</ion-button>

<div class="login">Don't have an account?</div> <br/>
<ion-button class="sign" size="medium" color="tertiary">Signup Now</ion-button>

 
<div class="app">
  <ion-icon name="information-circle-sharp" color="danger" ></ion-icon>
  About the app/Support
</div>


</ion-content>
