.text{
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 18px;
   
}
ion-title{
    padding-top: 6%;
}
ion-header{
    background-color: #0C3B6E;
    color: #0C3B6E;
}
ion-content{
    --background: #0C3B6E;
    --padding-top: 25px;

}
.yu{
    font-size: 20px;
    padding-top: 18px;
}
ion-chip{
    margin-left: auto;
}
.ad{
    text-align: center;
}