

<ion-segment value="inforce" scrollable  color="success">
  <ion-segment-button value="inforce" color="success">
    <ion-icon name="thumbs-up"></ion-icon>
    <ion-text>in-Force</ion-text>
  </ion-segment-button>
  <ion-segment-button value="proposed" color="primary">
    <ion-icon name="reader"></ion-icon>
    <ion-text>Proposed</ion-text>
  </ion-segment-button>
  <ion-segment-button value="rejected" color="warning">
    <ion-icon name="thumbs-down"></ion-icon>
    <ion-text>Rejected</ion-text>
  </ion-segment-button>
  <ion-segment-button value="inconflict" color="danger">
    <ion-icon name="warning"></ion-icon>
    <ion-text>in-Conflict</ion-text>
  </ion-segment-button>
  <ion-segment-button value="ended" color="secondary">
    <ion-icon name="checkbox"></ion-icon>
    <ion-text>Ended</ion-text>
  </ion-segment-button>
</ion-segment>
