ion-segment{
    --background: #ffff;
    border-radius: 10px;
}
ion-segment-button{
    
    width: 70px;
    margin: auto;
    height: 50px;
    
}
ion-text{
    font-size: 9px;
}
ion-icon{
    font-size: 15px;
}
