<ion-header>
  <ion-toolbar>
    <ion-title class="text">Signup</ion-title>
    
    <img src="assets/images/logo.png"  class="logo" slot="end"/>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/images/Vector.png" />

<ion-item class="account">
  <ion-label>Account Setup</ion-label>
</ion-item>

<ion-item class="name">
  <ion-input style="color: white" name="name" type="text" placeholder="First and Last names"></ion-input>
</ion-item>

<ion-item class="email">
  <ion-input style="color: white" name="email" type="email" placeholder="Email"></ion-input>
</ion-item>

<ion-item class="password">
  <ion-input style="color: white" name="password" type="password" placeholder="Password"></ion-input>
</ion-item>

<ion-item class="conf">
  <ion-input style="color: white" name="conf" type="password" placeholder="Confirm Password"></ion-input>
</ion-item>

<ion-button class="butt"  color="tertiary">Sign up</ion-button>
<div class="login">I have an account</div>
<ion-button class="sign" size="medium" color="tertiary">Login</ion-button>

<ion-button class="gog" color="tertiary" expand="block"> <img src="https://img.icons8.com/color/50/000000/google-logo.png"/>Create with google</ion-button>

<div class="app">
  <ion-icon name="information-circle-sharp" color="danger" ></ion-icon>
  About the app/Support
</div>
</ion-content>
